name: Coverage

permissions: {}

on:
  push:
    branches:
      - "main"
    tags-ignore:
      - "**"
    paths-ignore:
      - "**.md"
  pull_request:
    branches:
      - "main"
    paths-ignore:
      - "**.md"

jobs:
  test:
    uses: TerakomariGandesblood/github-workflows/.github/workflows/rust-coverage.yml@main
    secrets:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
